@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&family=Roboto&display=swap');
@import url(https://use.fontawesome.com/releases/v5.2.0/css/all.css);

/*----------------ROOT Colors-----------------*/
:root{
    --light : #f8f9fa;
    --dark: #343a40;
    --primary-color: #f15bb5;
    --secondary-color: #2ec4b6;
}


/*------------------Colors----------------*/

/*------------------MAIN CONTENT------------*/
main .profile-title{
  background: url('../profile/images/Background-image 13.20.22 copy.png');
  background-size: cover;
  height: 64vh;
  display: flex;
  justify-content: center;
}

main .profile-title .profile-background{
  padding-top: 8rem;
  text-align: center;
  color: white;
}

main .profile-title h1, h3{
  margin: .8rem;
}

main .profile-title img{
  margin: 1rem;
  display: flex;
  justify-content: center;
}

button.btn{
  border: none;
  border-radius: 0.8rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: livvic;
  cursor: pointer;
  margin: 1.8rem;
  background: pink;
}

main .profile-title .btn:hover{
  background: transparent;
  border: 1px solid orange;
  color: white;
}

main .img-circle{
  border-radius: 50%;
}

/*-------------------END MAIN CONTENT_________*/

/*---------------------FOOTER-------------------*/
 #footer{
  padding-top: 4rem;
}

.container{
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
  border-radius: 4px;
   max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}
 .footer-title{
  font-family: 'Poppins' , sans-serif;
  color: pink;
 }

 #f-title2{
  padding-left: 20px;
 }

 .secondary-title{
  color: var(--secondary);
  font-family: 'Poppins' , sans-serif;
 }

 .p-footer{
  color: #7ECE90;
  font-size: 18px;
  font-weight: lighter;
  font-weight: 500;

 }

 .text-primary{
  color: var(--primary-color);
 }

 .footer-dimensions{
    margin-bottom: 30px;
    display: flex;
 }

 .col-2{
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 35px;
 }

.tags-dimensions{
  display: flex;
  flex-wrap: wrap;
}

#footer .tags a{
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 15px;
    color: pink;
}

#footer .copyrights{
    padding: 10px 0;
    border-top: 2px solid var(--light);
}

.tags-link{
    font-size: 18px;
    margin: 12px;
    color: var(--dark);
    font-family: 'Poppins', sans-serif;
    padding: 15px 20px;
    border: none;
    background-color: var(--light);
}

.cpy{
  font-size: 16px;
  text-align: center;
}

.cpy .text-primary{
  color: var(--primary-color);
}

/*------------------------END---FOOTER--------------------/*

/*-------------------MEDIA QUERY-------------------*/
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
/*--------------------END MEDIA QUERY---------------*/
